
.font{
    font-family: 'Bebas Neue', cursive;
    color: #FF5E19;
    font-weight: 700;
    padding: 20px;

}
.width{
    width: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 50px;
  }
  .header-image{
    width: 200px;
    height: 300px;
    margin-top: -200px;
  }
  .hr{
    border: 2px solid black;
  }
  .side-nav{
    position:absolute;
    right: 50px;
    margin-top: 25px;
   height: 400px;
   background-color: white;
   border: none;
   
}
.side-nav-2{
  position:absolute;
  right: 50px;
  margin-top: 450px;
 background-color: white;
 border: none;
 
}
.height{
  height: 200px;
}